{% extends "base.html" %}
{% block page_title %}{{ page_title|safe }}{% endblock %}
{% block header %}
<nav>
    <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="#">Info</a></li>
        <li role="presentation"><a href="#">Contact</a></li>
    </ul>
</nav>
<h3 class="text-muted">{{ website_name|safe }}</h3>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="page-header"><h4>{{ body_title|safe }}</h4></div>
        <i class="fa fa-quote-left fa-3x pull-left fa-border"></i>
        <p>
            &hellip;and then of courve I've got this terrible
            <br/>
            pain in all the diodes down my left hand side&hellip;
        </p>
    </div>
</div>
{% endblock %}
