{% extends "base.html" %}
{% block style %}
<style type="text/css">
    h1 small {
        color: inherit;
    }
    p > a {
        color: #6D6665;
    }
    p > a:hover {
        color: inherit;
    }
    .animation {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 252, 251, 0.6);
    }
</style>
{% endblock %}
{% block content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">git://ci</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">ABOUT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#signup">SIGN UP</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">
                    <img alt="gitci logo" src="/static/img/gitci-logo64.png"><br/>
                    git://ci&nbsp;<sup><small>&#946;eta</small></sup><br/>
                </h1>
                <h2>
                    A system where development, testing and deployment work together
                </h2>
                <hr>
                <p>
                    What is <strong>git://ci</strong>?<br/><br/>
                    Truth is, we don't know yet.
                    <br/>
                    But we know what we want.
                    <br/>
                    <br/>
                    Consider it a prototype, a
                    proof-of-concept. One thing we know is we like the workflow for
                    development and we hope you do too.
                    <br/>
                    All this is done on bare metal, full-stack software deployments;
                    bootloaders, firmware, kernels and applications.<br/>
                    <br/>
                    From microcontrollers to enterprise servers.
                </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hassle-free Automation</h2>
                    <hr class="light">
                    <p class="text-faded text-justify">
Leveraging the popularity and the workflow of git, we built a system that would seamlessly fit the developer workflow.
<br/>
<br/>
In its initial form, <strong>git://ci</strong> is built around the work Linaro is doing with the <a href="https://www.zephyrproject.org/">zephyr project</a>.
<br/><br/>
With <strong>git://ci</strong>, you just &#8220;git clone&#8221; the source code, make your changes, and &#8220;git push&#8221; to a <strong>git://ci</strong> remote. Your code will be rebuilt - along with over 50 of the zephyr test binaries - and it will be tested using <strong>git://ci</strong>'s machine farm currently running qemu <em>cortex-m3</em> virtual machines.
<br/>
<br/>
In the end, you'll see the results of over 75 different tests, all executing concurrently in real-time, and you’ll get to see the results without leaving your console.
                    </p>
                    <p>
                        <img class="animation" src="/static/img/animation.gif">
                    </p>
                    <a href="#contact" class="page-scroll btn btn-default btn-xl sr-button"><i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Keep In Touch</h2>
                    <hr class="primary">
                    <p>Though we don't know what <strong>git://ci</strong> is and we don't know where it's going, if you are interested, we'd love to bring you along!
                    </p>
                    <p>
                    Add your email address to be notified when we depart on our next journey.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div>
                        <div class="col-sm-6 col-sm-offset-3">
                            <form method="POST" class="form-horizontal" action="#contact">
                                {{ email_form.csrf_token }}
{%- if email_form.email.errors %}
                                <div class="form-group has-error">
{%- else %}
                                <div class="form-group">
{%- endif %}
                                    {{ email_form.email(class_="form-control") }}
                                    <div role="error" class="help-block">
                                        {{ email_form.email.errors[0] }}
                                    </div>
                                </div>
{%- if email_submit %}
                                <span class="btn btn-primary bt-sm">Thanks!</span>
{%- else %}
                                <button type="submit" class="btn btn-primary bt-sm" name="email">Send</button>
{%- endif %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="signup">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sign Up to Obtain Access</h2>
                    <hr class="primary">
                    <p>
                        For those of you that want to give <strong>git://ci</strong> a try, we'd love to have you participate.
                        <br/>
                        Choose a username, copy your public SSH key, and you're all set.
                        <br>
                        Want to give it a try?
                    </p>
                    <a href="/signup/" class="btn btn-primary">Yes!</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Give Feedback</h2>
                    <p>
                        If you have 5 minutes, we'd love to hear your feedback on your experience.
                        <br>
                    </p>
                    <a href="https://docs.google.com/a/linaro.org/forms/d/e/1FAIpQLScS-KO0UCYiWbJMp2eza3Lxd6HW7SzUCiK_auzSa-OF1vm-Fw/viewform?c=0&w=1" class="btn btn-primary">Give Feedback</i></a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
