{% extends "base.html" %}
{% block style %}
<style type="text/css">
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: inherit;
    }
</style>
{% endblock %}
{% block content %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="/">git://ci</a>
        </div>
    </div>
</nav>
<section>
<div class="container">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        <div>
            <p class="text-center">
                Choose a username and upload
                your public <abbr title="Secure Shell" class="initialism">SSH</abbr> key
                <br/>
                (all the fields are required)
            </p>
        </div>
        <div id="errors"></div>
        <div class="signup">
            <form method="POST" class="form-horizontal" action="#">
                {{ form.csrf_token }}
{%- if form.username.errors %}
                <div class="form-group has-error">
{%- else %}
                <div class="form-group">
{%- endif %}
                    {{ form.username.label(class_="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                        {{ form.username(class_="form-control") }}
                        <span id="usernameHelp" class="help-block">
                            <small>
                            Username must start with an alphanumeric character (ASCII alphabet), but
                            can also contain the characters <kbd>.</kbd>, <kbd>-</kbd> or
                            <kbd>_</kbd> (i.e.: <i>name.surname</i>). It must contain a
                            minimum of 3 and a maximum of 32 characters.
                            </small>
                        </span>
{%- if form.username.errors %}
                        <div role="error" class="help-block">
                            <ul>
                        {%- for e in form.username.errors %}
                            <li>{{ e }}</li>
                        {%-endfor %}
                            </ul>
                        </div>
{%- endif %}
                    </div>
                </div>
{%- if form.ssh_key.errors %}
                <div class="form-group has-error">
{%- else %}
                <div class="form-group">
{%- endif %}
                    {{ form.ssh_key.label(class_="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                        {{ form.ssh_key(class_="form-control") }}
                        <span id="sshkeyHelp" class="help-block">
                            <small>
                            Only one SSH key can be uploaded and it must be on a single line.
                            </small>
                        </span>
{%- if form.ssh_key.errors %}
                        <span role="error" class="help-block">
                            <ul>
                        {%- for e in form.ssh_key.errors %}
                            <li>{{ e }}</li>
                        {%-endfor %}
                            </ul>
                        </span>
{%- endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary bt-xl">Sign Me Up</button>
                    </div>
                </div>
            </form>
        </div>
</div>
</div>
</section>
{% endblock %}
