{% extends "base.html" %}
{% block page_title %}{{ page_title|safe }}{% endblock %}
{% block style %}
<style type="text/css">
    .signup {
        margin-top: 25px;
    }
    span[role="error"] {
        font-weight: bold;
    }
    .form-control {
        border: 1px solid #858794;
        color: inherit !important;
    }
    textarea.form-control:focus,
    input[type="text"]:focus {
        border-color: rgba(0, 59, 115, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 59, 115, 0.6);
        outline: 0 none;
    }
    .has-error textarea.form-control:focus,
    .has-error input[type="text"]:focus {
        border-color: rgba(213, 41, 32, 0.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(213, 41, 32, 0.6);
    }
    .has-error .form-control {
        border-color: #D52920;
    }
    .has-error .help-block,
    .has-error .control-label {
        color: #D52920;
    }
    textarea.form-control {
        font-size: 95%;
    }
</style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h4>Sign Up</h4>
        <div>
            <p>
                In order to use the system, you need to choose a username and upload
                your public <abbr title="Secure Shell" class="initialism">SSH</abbr> key (all the fields are required).
            </p>
        </div>
        <div id="errors"></div>
        <div class="signup">
            <form method="POST" class="form-horizontal" action="#">
                {{ form.csrf_token }}
{%- if form.username.errors %}
                <div class="form-group has-error">
{%- else %}
                <div class="form-group">
{%- endif %}
                    {{ form.username.label(class_="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                        {{ form.username(class_="form-control") }}
                        <span id="usernameHelp" class="help-block">
                            <small>
                            Username must start with an alphanumeric character (ASCII alphabet), but
                            can also contain the characters <kbd>.</kbd>, <kbd>-</kbd> or
                            <kbd>_</kbd> (i.e.: <i>name.surname</i>). It must contain a
                            minimum of 3 and a maximum of 32 characters.
                            </small>
                        </span>
{%- if form.username.errors %}
                        <span role="error" class="help-block">
                            <ul>
                        {%- for e in form.username.errors %}
                            <li>{{ e }}</li>
                        {%-endfor %}
                            </ul>
                        </span>
{%- endif %}
                    </div>
                </div>
{%- if form.ssh_key.errors %}
                <div class="form-group has-error">
{%- else %}
                <div class="form-group">
{%- endif %}
                    {{ form.ssh_key.label(class_="col-sm-2 control-label") }}
                    <div class="col-sm-8">
                        {{ form.ssh_key(class_="form-control") }}
                        <span id="sshkeyHelp" class="help-block">
                            <small>
                            Only one SSH key can be uploaded and it must be on a single line.
                            </small>
                        </span>
{%- if form.ssh_key.errors %}
                        <span role="error" class="help-block">
                            <ul>
                        {%- for e in form.ssh_key.errors %}
                            <li>{{ e }}</li>
                        {%-endfor %}
                            </ul>
                        </span>
{%- endif %}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign Me Up</button>
                    </div>
                </div>
            </form>
        </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    'use strict';
    var nav;

    nav = document.getElementById('signup');
    nav.className = 'active';
</script>
{% endblock %}
